<script src="https://kit.fontawesome.com/83edd39147.js" crossorigin="anonymous"></script>
<!-- <script  src="views/text.js"></script> -->


<script  src="/text.js"></script>

</body>

<footer>
    <section class="flex py-5 header-color justify-around ">
        <p class="text-gray-800">All rights reseved.</p>
    </section>
</footer>
</html>