



/* .input{

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
} */










.btn{
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px 16px 5px 16px;
}

.montserrat{
  font-family: montserrat;
}

.poppins{
  font-family: poppins;
}

.ubuntu{
  font-family: ubuntu
}

.roboto{
  font-family: roboto
}

.borel{
  font-family:borel
}

.header-color{
  background: #ffe2cb;
}




@media only screen and (min-width: 768px) {
  .width_inherit{
    width: inherit;
  }
}